* , ::before , ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nava{
    width: 100%;
    height: 70px;
    background-color: rgb(47,34,87);
    position: fixed;

}
.item {
    display: flex;
    justify-content: right;
    margin-right: 50px;

}
.item .liste-nav {
    list-style: none;
    margin: 25px;
    
}
.liste-nav a {
    text-decoration: none;
    color: white;
}
 

.image img{
    width: 100%;
    height: 70vh;
}
.div h1{
    width: 100%;
    height: 70px;
    background-color: rgb(129,101,167);
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    line-height: 70px;
}
.memoire{
   
}
.memoire h4{
    width: 350px;
    margin: 0 auto;
}
 .slid img{
    display: flex;
   
   justify-content: center;
   margin: 0 auto;
}
.elemen{
    width: 350px;
    margin: 0 auto;
}
.elemen span{
    color: red;
}
.photo img{
    
        display: flex;
       
       justify-content: center;
       margin: 0 auto;
}
